@{
    ViewData["Title"] = "Descrição do sistema";
}
<h2>@ViewData["Title"]</h2>

<p>
    <h4>Aba Colaborador</h4>
</p>
<p>
    -> Tela de Listagem: mostra os registros de todos os colaboradores cadastrados.
</p>
<p>
    -> Tela de Criação: cadastra um novo colaborador no sistema. Todos os campos são obrigatórios para 
    a execução desta tarefa.
</p>
<p>
    -> Tela de Edição: atualiza registros do colaborador no sistema. 
</p>
<p>
    -> Tela de Exclusão: exclui registros de colaboradores existentes no sistema. 
</p>
<p>
    -> Para visualizar o salário de um colaborador, clique na opção "Detalhes" ao lado de cada registro 
    na tela de listagem.
</p>
<p>
    -> Para visualizar o salário de um colaborador, clique na opção "Detalhes" ao lado de cada registro 
    na tela de listagem.
</p>
<p>
    <h4>Aba Horas Extras</h4>
</p>
<p>
    -> Para calcular o salário do colaborador, clique na opção "Alterar horas extras" e informe o valor 
    das horas extras para execução do cálculo.
</p>